# Question 1

In [1]:
import pandas as pd
import numpy as np

In [49]:
# let x be the list of vectors to calculate
# let y be the target for the distance vector

def cosine_similarity(x,y):
    xdoty = np.dot(x,y)
    
    return xdoty

In [50]:
data = pd.read_csv('hw2-image.txt', sep=" ", header=None)
data

          0    1   2
0       129  108  61
1       117   96  51
2       102   77  36
3        94   64  26
4        97   59  22
...     ...  ...  ..
210007   91   38   4
210008   88   39   6
210009   81   36   7
210010   71   31   6
210011   66   31  11

[210012 rows x 3 columns]

In [51]:
x = np.array(data, dtype='float64')